@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.navigation-bar
{
  flex-wrap: wrap;
  display: flex;
  background-color: rgb(255, 255, 255);
  position: fixed;
  height: auto;
  width: 80%;
  padding: 10px;
  max-width: 1200px;
  margin: 20px 0 0 0;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
  box-sizing: border-box;
  align-self: flex-start;
  box-shadow: 1px 1px 10px 10px rgba(221, 221, 221, 0.2);
  z-index: 1;
}

/* Кнопки навигации */
.button-link{
  border: none;
  height: 40px;
  width: auto;
  min-width: 100px;
  max-width: 150px;
  text-align: center;
  padding: 5px 15px;
  margin: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease; 
  border-radius: 50px;
  font-family: "Montserrat", serif;
  border-color: rgb(63, 63, 63);
  font-weight: 450;
  font-size: 9.5pt;
  background-color: rgb(63, 63, 63);
  color: aliceblue;
  flex-grow: 1;
  box-shadow: 1px 1px 10px 10px rgb(196, 196, 196);
  cursor: pointer;
}
.button-link:hover{
  background-color: rgb(0, 0, 0);
}
.button-link:active{
  transform: scale(0.95);
}
