/* главный контейнер футера */
.footer-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 37, 37);
    font-size: large;
}
/*  контейнер для управления содержимым */
.contacts-container{
    display: flex;
    max-width: 1200px;
    width: 80%;
    height: auto;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
}

/* Иконки */
.social-icon{
    width: 40px;
    height: 40px; 
    color: white;
    margin: 10px 0 0 20px;
}
#hh-ru{
    border-radius: 50%;
}
.social-icon:hover{
    transform: scale(1.05);
}