@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, .main {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    background-color: rgb(26, 26, 26);
    font-family: "Montserrat", serif;
  }
